<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appgrupal">

    <uses-permission android:name="android.permission.INTERNET" />

    // Camara
    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logofinal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logofinal"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppGrupal">
        <activity
            android:name=".Especialista"
            android:exported="true" />

        <activity
            android:name=".NavigationDrawer"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.AppGrupal.NoActionBar" />
        <activity
            android:name=".chat.Chat"
            android:exported="true" />
        <activity
            android:name=".RegistroPantalla"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlanDePago"
            android:exported="true" />
        <activity
            android:name=".Menu"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Calendario"
            android:exported="true" />
        <activity
            android:name=".Miscitas"
            android:exported="true" />
        <activity
            android:name=".PasswordReset"
            android:exported="true" />
        <activity
            android:name=".Videollamada.VideoLLamada"
            android:exported="true" />
        <activity
            android:name=".informes"
            android:exported="true" />

        <activity
            android:name=".BuscadorMedicamentos"
            android:exported="true" />
    </application>

</manifest>